# NetBeans specific #
nbproject/private/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
private.xml
private.properties
build-native.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear